body {
  font-family: sans-serif;
}

.profile-div {
  max-width: 350px;
  margin: 2rem auto;
  border: 3px solid #f1f1f1;
  text-align: center;
  padding: 2.5rem 0;
  -webkit-box-shadow: -19px 17px 19px -3px rgba(66, 255, 144, 0.49);
  box-shadow: -19px 17px 19px -3px rgba(162, 255, 201, 0.49);
}

.profile-img {
  width: 86px;
  height: 89px;
  border-radius: 50%;
  border: 2px groove grey;
}

.profile-details {
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-weight: bolder;
  color: cornflowerblue;
}

.dashboard-area {
  font-weight: bolder;
}

.welcome-user {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: rgb(4, 205, 255);
}

.dashboard-link {
  text-align: center;
}

.dashboard-container {
  text-align: center;
}

.logout-btn {
  background-color: #04aa6d;
  color: white;
  padding: 0.7rem 1.2rem;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: min-content;
}

.navbar {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.dashboard-cards > div {
  -webkit-box-shadow: -19px 17px 19px -3px rgba(235, 255, 244, 0.49);
  box-shadow: -19px 17px 19px -3px rgba(244, 253, 248, 0.49);
  border: groove white;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 2rem 0;
  cursor: pointer;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
